<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="header">
        <!--<img id="logo" src="" alt="">-->
        <h1>
            Vafil 42
        </h1>
        <h2>
            My blog
        </h2>
        <div id="nav">
            <a id="about_link" href="{% url 'blog:about' %}">About</a>
            <a id="blog_link" href="{% url 'blog:blog' %}">Blog</a>
            <a id="contact_link" href="{% url 'blog:contact' %}">Contact</a>
        </div>
    </div>
    <div id="main">

    </div>
    <div id="footer">
        <p6>Its real shit</p6>
    </div>
</body>
</html>